/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&family=Rubik:wght@400;700&display=swap');

body {
  background: radial-gradient(circle at top right, #2d2d2d, #505050);
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #fff;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 2rem;
}

.central-content {
  margin-bottom: 3rem;
}

.main-title {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(to right, #f0e130, #ff1e56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titleSlide 1.5s ease-in-out;
}

.main-subtitle, .main-subtitle-extended {
  font-size: 1.3rem;
  max-width: 800px;
  margin: 1rem auto;
  color: #eaeaea;
  opacity: 0;
  animation: subtitleFadeIn 2s ease-in-out forwards;
}

.cards-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  width: 380px;
  text-align: left;
  transition: transform 0.5s ease, background-color 0.5s ease;
  opacity: 0;
  animation: cardPopUp 1.5s ease-in-out forwards;
}

.card:hover {
  transform: scale(1.1) rotate(1deg);
  background-color: #444;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: 'Rubik', sans-serif;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #f0e130;
  animation: titlePopUp 1.5s ease-in-out forwards;
}

.card-description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #d4d4d4;
}

.card-features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-features li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #b7b7b7;
}

.card-button {
  background-color: #ff1e56;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.card-button:hover {
  background-color: #f0e130;
  transform: translateY(-5px);
}

.card-button:active {
  transform: scale(0.97);
}

/* Animations */
@keyframes titleSlide {
  0% { opacity: 0; transform: translateY(-50px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes subtitleFadeIn {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes cardPopUp {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes titlePopUp {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}
